bash
git
r-cran-cli
r-cran-doparallel
r-cran-dplyr
r-cran-foreach
r-cran-ggplot2
r-cran-here
r-cran-logger
r-cran-pracma
r-cran-purrr
r-cran-readr
r-cran-scales
r-cran-stringr
r-cran-tidyr
r-cran-yaml
r-cran-zeallot

